[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "src/zed-ros2-interfaces"]
	path = src/zed-ros2-interfaces
	url = https://github.com/stereolabs/zed-ros2-interfaces.git
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/vesc"]
	path = src/vesc
	url = https://github.com/Mailamaca/vesc.git
	branch = ros2
[submodule "src/transport_drivers"]
	path = src/transport_drivers
	url = https://github.com/ros-drivers/transport_drivers.git
	branch = humble
[submodule "src/ackermann_msgs"]
	path = src/ackermann_msgs
	url = https://github.com/ros-drivers/ackermann_msgs.git
	branch = ros2
[submodule "src/udp_msgs"]
	path = src/udp_msgs
	url = https://github.com/flynneva/udp_msgs.git
[submodule "src/joystick_drivers"]
	path = src/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
	branch = ros2
[submodule "src/twist_to_ackermann"]
	path = src/twist_to_ackermann
	url = https://github.com/stephenadhi/twist_to_ackermann.git
[submodule "src/micro_ros_setup"]
	path = src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
